<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="index.css" />
		<style type="text/css">
			* {
				margin: 0;
				padding: 0;
				list-style: none;
				text-decoration: none;
			}

			.el-carousel__item h3 {
				color: #475669;
				font-size: 14px;
				opacity: 0.75;
				line-height: 150px;
				margin: 0;
			}

			.el-carousel__item:nth-child(2n) {
				background-color: #99a9bf;
			}

			.el-carousel__item:nth-child(2n+1) {
				background-color: #d3dce6;
			}

			.el-carousel__button {
				width: 46px;
				height: 6px;
			}

			.box1 a {
				display: inline-block;
				padding: 0 10px;
				text-decoration: none;
				height: 70px;
			}

			.box1 a:hover {
				border-bottom: 1px solid;

			}

			.btn {
				height: 1px;
				background: green;
				width: 0;
				transition: 2s;
			}

			.btn2:hover .btn1 {
				transform: scale(1.1);
				transition: 2s;
			}

			.btn2:hover .btn {

				transition: 2s;
				width: 352px;
			}
			.box3:hover{
				transform: translateY(-20px);
				transition: .5s;
			}
			.box3{
				transition: .5s;
			}
			.clearfix::before,
			.clearfix::after {
			    content: "";
			    display: table;
			    clear: both;
			}
			
			# no3 ul {
			    padding: 0 20px;
				height: 87px;
				background: rgba(244,244,244,.5);
			}
			
			.cha {
			    font-size: 26px;
			    color: #333;
			    margin-right: 780px;
			}
			
			ul li {
			    float: left;
			    line-height: 100px;
			    padding: 0 20px;
			    color: #999;
			}
			
			.item {
			    float: left;
			    width: 262px;
			    margin: 20px;
			}
			
			.item img {
			    width: 262px;
			    height: 262px;
			}
			
			.item p {
			    line-height: 2;
			    font-size: 20px;
			    color: #999;
			}
		</style>
	</head>
	<body>
		<div id="box">
			<div>
				<div style="position: relative; overflow: hidden;">
					<div style="position: absolute;top: 0;z-index: 5;display: flex;padding:  0 20px;line-height: 100px;">
						<div style="padding: 14px;">
							<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvZjc0MTI0MDFiMDZjZjdjYmI4OTg5MTBjMTE2YzZlNzYucG5n.png"
							 style="width: 80px;">
						</div>
						<div style="padding: 0px;padding-left: 900px;" class="box1">
							<a href="#/">首页</a>
							<a href="#/no2">关于</a>
							<a href="#/no3">茶叶</a>
							<a href="#/no4">基地</a>
							<a href="#/no5">新闻</a>
							<a href="#/no6">联系</a>
						</div>
					</div>
					<div style="min-height: 500px;">
						<router-view></router-view>
					</div>
					<div style="background: #f3f3f3;min-height: 100px; padding: 80px 180px;display: flex;">
						<div style="margin-right: 180px;">
							<div style="font-size: 26px;padding-bottom: 20px;">联系</div>
							<div style="font-size: 13px;color: #ccc;">Contact</div>
						</div>
						<div>
							<div style="margin-right: 180px;">关注我们</div>
						</div>
						<div>
							<div style="padding-bottom: 10px;">起飞页自助建站平台</div>
							<div style="color: #ccc;padding-bottom: 6px;">地址：苏州市建外SOHO东区2号楼</div>
							<div style="color: #ccc;padding-bottom: 6px;">邮编：100000</div>
							<div style="color: #ccc;padding-bottom: 6px;">电话：010-69557550</div>
						</div>
						<div style="margin-left:80px;">
							<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTgvMDgvNjFjNTQ1NWFmY2MyNGViMmZjY2VkOTk3YmMwMWE2MGMtMTAweDEwMC5wbmc_p_p100_p_3D.png">
							<div style="text-align: center;">
								微信
							</div>
						</div>
						<div style="margin-left: 80px;">
							<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTgvMDgvNjFjNTQ1NWFmY2MyNGViMmZjY2VkOTk3YmMwMWE2MGMtMTAweDEwMC5wbmc_p_p100_p_3D.png">
							<div style="text-align: center;">
								微博
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<template id="no1">
			<div>
				<div class="block">
					<el-carousel :autoplay=false trigger="click" height="760px" arrow='never'>
						<el-carousel-item>
							<div style="background: url(https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNTkxNjY4MzYwNTc4MTlhMDVjNGZmNmQ5NWFjMzU0OGIuanBn.jpg);height: 100%;
							 width: 100%;background-size: cover;">
							</div>

						</el-carousel-item>
						<el-carousel-item>
							<div style="background: url(https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNjFhNzJlOWFhNThhNzVhZjY0ZGFlMjgzYTAzMDQ1NDAuanBn.jpg);height: 100%;
							 width: 100%;background-size: cover;">
							</div>
						</el-carousel-item>
					</el-carousel>
				</div>
				<div style="text-align: center;padding-top: 30px; background: #f7f7f7;">
					<div style="font-family: 微软雅黑;font-size: 24px;font-weight: normal;font-style: normal;color: #232323;">新茶上市</div>
					<div style="font-size: 13px;font-weight: normal;font-style: normal;color: #999999;">Tea Leave</div>
				</div>
				<div style="background: #f7f7f7; padding: 40px;">
					<lee style=""></lee>
				</div>
				<div style="position: relative;min-height: 400px;background: transparent; ">
					<div style="background: transparent; min-height: 400px;padding: 160px; ">
						<div style="text-align: center;color: white;font-size: 30px;">
							<div>关于我们</div>
							<div style="font-size: 16px;color: #ccc;margin-bottom: 50px;">About</div>
						</div>
						<div style="background: #f7f7f7;min-height: 280px;padding: 10px; display: flex;">
							<div>
								<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvOGJiMjZlNDUwZjY0NjBkNWNiMmE4NTg4YjBhYTY5ZmMtNTQweDI4MC5qcGc_p_p100_p_3D.jpg"
								 style="width: 540px;">
							</div>
							<div>
								<p style="padding: 60px;color: #808080;">茶叶源于中国，茶叶最早是被作为祭品使用的。但从春秋后期就被人们作为菜食，在西汉中期发展为药用，西汉后期才发展为宫廷高级饮料，普及民间作为普通饮料那是西晋以后的事。发现最早人工种植茶叶的遗迹在浙江余姚的田螺山遗址，已有6000多年的历史。饮茶始于中国。
								</p>
								<span style="padding: 10px;display: inline-block;margin-left: 60px; background: #90af6b;color: #fff;">了解更多</span>
							</div>
						</div>
					</div>
					<div style="min-height: 500px;width: 100%;height: 100%; background: url(https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvYTMxNGNjMzEzM2JhMGRkOTE2NTA0NmYwYTZjMDlmZjcuanBn.jpg);
				background-repeat:no-repeat; background-size:cover; position: fixed;top: 0px;z-index: -33;">

					</div>
				</div>

			</div>
		</template>
		<template id="no2">
			<div>
				<div style="height: 100px;background: #fff;">
				</div>
				<div>
					<div>
						<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNDlhZTM4YTg2N2VmNzVhNDA3M2RmNzRiYTFmOThjMjYuanBn.jpg"
						 style="width: 1519px;">
					</div>
					<n1></n1>
					<n2 v-for="i in arr" :b_num="i.b_num" :b_title="i.title"></n2>
					<n1>
						<div slot='n1' style="font-family: 微软雅黑;font-size: 24px;font-weight: normal;font-style: normal;color: #232323;padding: 50px 0px;">喝茶的好处</div>
						<div slot='n2' style="color: #808080;width: 800px;margin: 0 auto;">饮茶不但是传统饮食文化，同时，由于茶中含有多种抗氧化物质与抗氧化营养素，对于消除自由基有一定的效果。因此喝茶也有助防老，具养生保健功能，每天喝三两杯茶可起到防老的作用。茶叶中含有多种维生素和氨基酸，喝茶对于清油解腻，增强神经兴奋以及消食利尿也具有一定的作用。 但并不是喝得越多越好，也不是所有的人都适合喝茶。一般来说，每天1-2次，每次3-5克、400毫升的饮量是比较适当的。一般，人们说喝茶还指喝水。</div>
					</n1>
					<n3></n3>
					
				</div>
			</div>
		</template>

		<template id="no3">
			<div>
				<div style="height: 100px;background: #fff;">
				</div>
				<div class="con">
				    <ul class="clearfix">
				        <li class="cha">茶叶</li>
				        <li v-for="(i,$index) in arr" :style="{color:$index==index?'green':''}" @click="index=$index">
				            {{i.title}}
				        </li>
				    </ul>
				    <div class="clearfix" v-for="(i,$index) in arr" v-if="$index==index">
				        <div class="item" v-for="arr1 in i.content">
				            <img :src="arr1.url1" alt="">
				            <p>{{arr1._title}}</p>
				            <p>{{arr1._price}}</p>
				        </div>
				    </div>
				</div>
				
			</div>
		</template>
		<template id="no4">
			<div>
				<div style="height: 100px;background: #fff;">
				</div>
				<div>
					<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNzNlYjg4NTNhNmZkNTZiYWRhN2Q4ZjI4NjNkOWM1ODguanBn.jpg"
					 style="width: 1519px;">
				</div>
				<n1>
					<div slot='n1' style="font-family: 微软雅黑;font-size: 24px;font-weight: normal;font-style: normal;color: #232323;padding: 50px 0px;">种植基地</div>
					<div slot='n2' style="color: #808080;width: 1200px;margin: 0 auto;">公司拥有完整、科学、质量管理体系，通过ISO14001，ISO22000国际质量体系认 证，有机产品认证，拥有大量先进、专业的生产设备和检测仪器，秉承“顾客至上，锐意进取”的经营理念，坚持“客户第一”的原则为广大客户提供优质的服务。</div>
				</n1>
				<div style="text-align: center;display: flex;padding: 0 160px;flex-wrap: wrap;padding-bottom: 50px;">
					<div style="padding: 2px; flex: 1;width: 25%;">
						<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNS81ZDdlNzRkMjc1MTMzYzFmZmRhNWRlMWZjYWI0YWRlNy0zMDB4MzAwLmpwZw_p_p100_p_3D_p_p100_p_3D.jpg" 
						style="width: 280px;">
					</div>
					<div style="padding: 2px; flex: 1;width: 25%;">
						<img src='https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNS83NDAyZmFlMWJhYTc5ODE4MDgxZjAzYjY3ZTBlNTRkMi0zMDB4MzAwLmpwZw_p_p100_p_3D_p_p100_p_3D.jpg'
						style="width: 280px;">
					</div>
					<div style="padding: 2px; flex: 1;width: 25%;">
						<img src='https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNS85ZWVjMDQ0ZWZiY2JkZDBjMTQzZDBiZmEwZjYyM2QwNS0zMDB4MzAwLmpwZw_p_p100_p_3D_p_p100_p_3D.jpg'
						style="width: 280px;">
					</div>
					<div style="padding: 2px; flex: 1;width: 25%;">
						<img src='https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNS8wZDlhYzFhYTM5Y2ZmYjNjOTg0MTQ2OThjNmZkZDBmNC0zMDB4MzAwLmpwZw_p_p100_p_3D_p_p100_p_3D.jpg'
						style="width: 280px;">
					</div>
					<div style="padding: 2px; flex: 1;width: 25%;">
						<img src='https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNS85ZWRhODlmMjMxYTM4YWM4MTk2YmJiZjI5MDlhYTJmNy0zMDB4MzAwLmpwZw_p_p100_p_3D_p_p100_p_3D.jpg'
						style="width: 280px;">
					</div>
					<div style="padding: 2px; flex: 1;width: 25%;">
						<img src='https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNS8xMjVmYzY1OThhYTQ2YWVjYmQ5ZjU0MDNjOTBiMzc4Ny0zMDB4MzAwLmpwZw_p_p100_p_3D_p_p100_p_3D.jpg'
						style="width: 280px;">
					</div>
					<div style="padding: 2px; flex: 1;width: 25%;">
						<img src='https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC80ZGYwMWE3NGZhMGFlYWI4MjJiYzUxOGFjYzZlYWE5Ni0zMDB4MzAwLmpwZw_p_p100_p_3D_p_p100_p_3D.jpg'
						style="width: 280px;">
					</div>
					<div style="padding: 2px; flex: 1;width: 25%;">
						<img src='https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNS8yZmVkNDQ2MDY0MjQ3YWZlYjhhOTRmZDQ0ZGIwNzk3OS0zMDB4MzAwLmpwZw_p_p100_p_3D_p_p100_p_3D.jpg'
						style="width: 280px;">
					</div>
				</div>
			</div>
		</template>
		<template id="no5">
			<div>
				<div style="height: 100px;background: #fff;">
				</div>
				<div>
					<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvOTIwYWRjMGM1M2U4OGQ2MTY0OWE0MzYwMmY5MWQ0NzQuanBn.jpg"
					 style="width: 1519px;">
				</div>
				<div style="display: flex;padding: 100px 200px;">
					<div style="width: 200px;margin-right: 100px;border-top: 2px solid #ccc;overflow: hidden;">
						<div style="color: #808080;padding-top: 30px;">
							<a href="#/no5/"style="color: #808080;padding: 14px;display: inline-block;width: 200px;">全部新闻</a>
						</div>
						<div>
							<a href="#/no5/no2"style="color: #808080;padding: 14px;border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;display: inline-block;width: 200px;">新茶动态</a>
						</div>
						<div>
							<a href="#/no5/no3"style="color: #808080;padding: 14px;display: inline-block;width: 200px;">产品新品</a>
						</div>
						
					</div>
					<div>
						<router-view></router-view>
					</div>
				</div>
			</div>
		</template>
		<template id="no6">
			<div>
				<div style="height: 100px;background: #fff;">
				</div>
				<div>
					<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNTYzNGI5ZDFlYmFkNzBkY2FlZmM1NDM0MWE0YzNkYWEuanBn.jpg"
					 style="width: 1519px;">
				</div>
				<div  style="color: #808080;width: 800px;margin: 0 auto;text-align: center;padding-top: 50px;">中国历史上有很长的饮茶纪录，已经无法确切地查明到底是在什么年代了，但是大致的时代是有说法的。并且也可以找到证据显示，确实在世界上的很多地方饮茶的习惯是从中国传过去的。
				</div>
				<div style="padding: 60px 200px;display: flex;flex-wrap: wrap;">
					<div style="flex: 1;width: 33%;text-align: center;">
						<div>
							<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC9mYzdmNmQ5NzgzM2NiOTlkOWJjZjU1ZDMyY2M2MWI0Ni04MHg4MC5qcGc_p_p100_p_3D.jpg" 
							style="width: 80px;">
						</div>
						<div style="font-size: 20px;color: #333333;padding: 20px;">
							邮箱
						</div>
						<div style="font-size: 14px;color: #bfbfbf;">
							info@email.com
						</div>
					</div>
					<div style="flex: 1;width: 33%;text-align: center;border-left: 1px solid #ccc;border-right: 1px solid #ccc;">
						<div>
							<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC9kNjhkMWVhYWNmODIyZDE4ZDE5MjYzYzdlMTljZjc1YS04MHg4MC5qcGc_p_p100_p_3D.jpg" 
							style="width: 80px;">
						</div>
						<div style="font-size: 20px;color: #333333;padding: 20px;">
							手机
						</div>
						<div style="font-size: 14px;color: #bfbfbf;">
							13725415481/010 6888 6888
						</div>
					</div>
					<div style="flex: 1;width: 33%;text-align: center;">
						<div>
							<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC82ZmQ5NDYwYjYzMzVmNTM2ZjUzNjQ1MWJiYmEyMDlkZC04MHg4MC5qcGc_p_p100_p_3D.jpg" 
							style="width: 80px;">
						</div>
						<div style="font-size: 20px;color: #333333;padding: 20px;">
							地址
						</div>
						<div style="font-size: 14px;color: #bfbfbf;">
							苏州市建外SOHO东区2号楼
						</div>
					</div>
				</div>
				<div style="text-align: center;padding-bottom: 100px;">
					<div style="min-height: 400px;width: 1190px;display: inline-block;" id="allmap">
					
				</div
				</div>
			</div>
		</template>
		<template id="no7">
			<div>
				<n4></n4>
				<n4>
					<div slot='n1'  style=" color: #000000;font-size: 18px;font-family: 微软雅黑;line-height: 18px;">喝什么茶叶好?春天适合喝什么茶?喝白茶喝什么茶叶好?</div>
					<div slot='n2'  style="padding: 20px 0;color: #999999;font-size: 13px;font-family: 微软雅黑;line-height: 22px;padding-right: 20px;">2017年10月27日，世界卫生组织国际癌症研究机构公布的致癌物清单初步整理参考，茶在3类致癌物清单中。属于对人类致癌性可疑，尚无充分的人体或动物数据的物质类。</div></slot>
					<img slot='n3' src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNS83NDAyZmFlMWJhYTc5ODE4MDgxZjAzYjY3ZTBlNTRkMi0yMDB4MTMwLmpwZw_p_p100_p_3D_p_p100_p_3D.jpg"
					style="width: 200px;">
				</n4>
				<n4>
					<div slot='n1'  style=" color: #000000;font-size: 18px;font-family: 微软雅黑;line-height: 18px;">喝茶的好处有哪些 6大好处告诉你</div>
					<div slot='n2'  style="padding: 20px 0;color: #999999;font-size: 13px;font-family: 微软雅黑;line-height: 22px;padding-right: 20px;">中国历史上有很长的饮茶纪录，已经无法确切地查明到底是在什么年代了，但是大致的时代是有说法的。并且也可以找到证据显示，确实在世界上的很多地方饮茶的习惯是从中国传过去的。所以，很多人认为饮茶就是中国人首创...</div></slot>
					<img slot='n3' src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC82NzM1MTJkYjY0YzY3ZTQzN2MyMzE0YzJjNzcyNGYzZi0yMDB4MTMwLmpwZw_p_p100_p_3D_p_p100_p_3D.jpg"
					style="width: 200px;">
				</n4>
				<n4>
					<div slot='n1'  style=" color: #000000;font-size: 18px;font-family: 微软雅黑;line-height: 18px;">喝茶也会有危险——茶这样喝真的很危险</div>
					<div slot='n2'  style="padding: 20px 0;color: #999999;font-size: 13px;font-family: 微软雅黑;line-height: 22px;padding-right: 20px;">但是也有人能够找到证据指出，饮茶的习惯不仅仅是中国人发明的，在世界上的其他一些地方也是饮茶的发明地，例如印度、非洲等。1823年，一个英国侵略军的少校在印度发现了野生的大茶树，从而有人开始认定茶的发源...</div></slot>
					<img slot='n3' src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC80ZGYwMWE3NGZhMGFlYWI4MjJiYzUxOGFjYzZlYWE5Ni0yMDB4MTMwLmpwZw_p_p100_p_3D_p_p100_p_3D.jpg"
					style="width: 200px;">
				</n4>
			</div>
		</template>
		<template id="no8">
			<div>
				<n4>
					<div slot='n1'  style=" color: #000000;font-size: 18px;font-family: 微软雅黑;line-height: 18px;">喝什么茶叶好?春天适合喝什么茶?喝白茶喝什么茶叶好?</div>
					<div slot='n2'  style="padding: 20px 0;color: #999999;font-size: 13px;font-family: 微软雅黑;line-height: 22px;padding-right: 20px;">2017年10月27日，世界卫生组织国际癌症研究机构公布的致癌物清单初步整理参考，茶在3类致癌物清单中。属于对人类致癌性可疑，尚无充分的人体或动物数据的物质类。</div></slot>
					<img slot='n3' src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNS83NDAyZmFlMWJhYTc5ODE4MDgxZjAzYjY3ZTBlNTRkMi0yMDB4MTMwLmpwZw_p_p100_p_3D_p_p100_p_3D.jpg"
					style="width: 200px;">
				</n4>
				<n4>
					<div slot='n1'  style=" color: #000000;font-size: 18px;font-family: 微软雅黑;line-height: 18px;">喝茶的好处有哪些 6大好处告诉你</div>
					<div slot='n2'  style="padding: 20px 0;color: #999999;font-size: 13px;font-family: 微软雅黑;line-height: 22px;padding-right: 20px;">中国历史上有很长的饮茶纪录，已经无法确切地查明到底是在什么年代了，但是大致的时代是有说法的。并且也可以找到证据显示，确实在世界上的很多地方饮茶的习惯是从中国传过去的。所以，很多人认为饮茶就是中国人首创...</div></slot>
					<img slot='n3' src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC82NzM1MTJkYjY0YzY3ZTQzN2MyMzE0YzJjNzcyNGYzZi0yMDB4MTMwLmpwZw_p_p100_p_3D_p_p100_p_3D.jpg"
					style="width: 200px;">
				</n4>
			</div>
		</template>
		<template id="no9">
			<div>
				<n4></n4>
				<n4>
					<div slot='n1'  style=" color: #000000;font-size: 18px;font-family: 微软雅黑;line-height: 18px;">喝茶也会有危险——茶这样喝真的很危险</div>
					<div slot='n2'  style="padding: 20px 0;color: #999999;font-size: 13px;font-family: 微软雅黑;line-height: 22px;padding-right: 20px;">但是也有人能够找到证据指出，饮茶的习惯不仅仅是中国人发明的，在世界上的其他一些地方也是饮茶的发明地，例如印度、非洲等。1823年，一个英国侵略军的少校在印度发现了野生的大茶树，从而有人开始认定茶的发源...</div></slot>
					<img slot='n3' src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC80ZGYwMWE3NGZhMGFlYWI4MjJiYzUxOGFjYzZlYWE5Ni0yMDB4MTMwLmpwZw_p_p100_p_3D_p_p100_p_3D.jpg"
					style="width: 200px;">
				</n4>
			</div>
		</template>
		<template id="lee">
			<div style=" display: flex;flex-wrap: wrap;">
				<div style="text-align: center;overflow: hidden;flex: 1;min-width: 33%; max-width: 33%;" class="btn2" v-for="i in arr">
					<slot name='lee1'>
						<img :src="i.img" style="width: 352px; transition: 2s;" class="btn1">
					</slot>
					<slot name="lee2">
						<div style="margin-top: 40px;">{{i.title}}</div>
					</slot>
					<div style="width: 352px;height: 1px;background: #ccc;display: inline-block;">
						<div class="btn">

						</div>
					</div>
					<slot name="lee3">
						<div>{{i.prize}}</div>
					</slot>
				</div>
			</div>

		</template>
		<template id="n1">
			<div style="text-align: center;padding-bottom: 60px;">
				<slot name="n1">
					<div style="font-family: 微软雅黑;font-size: 24px;font-weight: normal;font-style: normal;color: #232323;padding: 50px 0px;">春茶</div>
				</slot>
				<slot name="n2">
					<div style="color: #808080;width: 800px;margin: 0 auto;">饮茶不但是传统饮食文化，同时，由于茶中含有多种抗氧化物质与抗氧化营养素，对于消除自由基有一定的效果。
						因此喝茶也有助防老，具养生保健功能，每天喝三两杯茶可起到防老的作用。</div>
				</slot>
			</div>
		</template>
		<template id="n2">
			<div style="display: inline-block;width: 25%;text-align: center;">
				<div style="font-size: 60px;">
					{{num}}
				</div>
				<div style="font-size: 14px;color: #939396;">
					{{title}}
				</div>
			</div>
		</template>
		<template id="n3">
			<div style="overflow:hidden;display: flex; padding: 0 120px;">
				<div style="width: 33%;text-align: center;margin-bottom: 50px;color: #808080; flex-wrap: wrap;" class="box3" v-for="i in arr1">
				<slot name="n1">
					<div>
						<img :src='i.img'style="width: 360px;">
					</div>
				</slot>
				<slot name="n2">
					<div style="padding: 10px;">
						{{i.h}}
					</div>
				</slot>
				<slot name="n3">
					<div style="width: 350px;margin: 0 auto; text-align: left;padding: 10px;">
						{{i.p}}
					</div>
				</slot>
			</div>
			</div>
			
		</template>
		<template id="n4">
			<div style="display: flex;border-bottom: 1px solid #ccc;padding-bottom: 20px;margin-top: 20px;">
				<div style="">
					<slot name="n1"><div style=" color: #000000;font-size: 18px;font-family: 微软雅黑;line-height: 18px;">2019茶叶展-第十六届上海国际茶业交易春季博览会</div></slot>
					<slot name="n2"><div style="padding: 20px 0;color: #999999;font-size: 13px;font-family: 微软雅黑;line-height: 22px;padding-right: 20px;">野生种遍见于中国长江以南各省的山区，为小乔木状，叶片较大，常超过10厘米长，长期以来，经广泛栽培，毛被及叶型变化很大。茶叶可作饮品，含有多种有益成分，并有保健功效。</div></slot>
					<div style="color: #90af6b;font-size: 14px;font-family: 微软雅黑;">阅读正文 →</div>
				</div>
				<div style="">
					<slot name="n3"><img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNS81ZDdlNzRkMjc1MTMzYzFmZmRhNWRlMWZjYWI0YWRlNy0yMDB4MTMwLmpwZw_p_p100_p_3D_p_p100_p_3D.jpg" 
					style="width: 200px;"></slot>
				</div>
			</div>
		</template>
	</body>
	<script src="vue.js"></script>
	<script src="index.js"></script>
	<script src="vue-router.js"></script>
	<script src="https://api.map.baidu.com/api?v=3.0&ak=ZVxQBFByXwIR6q06AXIHvxOeIRKMkO1F"></script>
	<script>
		Vue.component('n4', {
			template: "#n4",
		
		})
		Vue.component('n3', {
			template: "#n3",
			data(){
				return{
					arr1:[
						{
							img:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNjczNTEyZGI2NGM2N2U0MzdjMjMxNGMyYzc3MjRmM2YuanBn.jpg',
							h:'茶园规划',
							p:'明万历二十三年（1595）张源撰写的《茶录》中，对当时洞庭东西山绿茶（炒青）的采摘、炒制有较为详细的记载，其炒制过程分杀青、轻团、焙干等工序，已与当今洞庭碧螺春的炒制工艺基本一致。'
						},
						{
							img:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNGRmMDFhNzRmYTBhZWFiODIyYmM1MThhY2M2ZWFhOTYuanBn.jpg',
							h:'茶叶品质鉴别',
							p:'明万历二十三年（1595）张源撰写的《茶录》中，对当时洞庭东西山绿茶（炒青）的采摘、炒制有较为详细的记载，其炒制过程分杀青、轻团、焙干等工序，已与当今洞庭碧螺春的炒制工艺基本一致。'
						},
						{
							img:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNDVhMmJlZTE1ZjE5MTc0OTQ2OTIxMTBiMjNkYWRiZDUuanBn.jpg',
							h:'冲泡工艺',
							p:'明万历二十三年（1595）张源撰写的《茶录》中，对当时洞庭东西山绿茶（炒青）的采摘、炒制有较为详细的记载，其炒制过程分杀青、轻团、焙干等工序，已与当今洞庭碧螺春的炒制工艺基本一致。'
						}
					]
				}
			}
		})
		Vue.component('n2', {
			template: '#n2',
			data() {
				return {
					num: 0,
					title: this.b_title
				}
			},
			mounted() {
				var time = setInterval(() => {
					this.num++
					if (this.num >= this.b_num) {
						this.num = this.b_num
						clearInterval(time)
					}
				}, 2000 / this.b_num)
			},

			props: ['b_num', 'b_title'],

		})
		Vue.component('n1', {
			template: "#n1",

		})
		Vue.component('lee', {
			template: '#lee',
			data() {
				return {
					arr: [{
							img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvODMxNGZmNmYyYjkyNzcxZmY2N2U5NjdlZjQyNjAzZWItNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
							title: '茉莉花茶',
							prize: '¥223.0'
						},
						{
							img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMGFkMzdiZDQwOGNjYWMwYzI0Y2JmNzdiMDZiNDg4ODAtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
							title: '白牡丹',
							prize: '¥1235.0'
						},
						{
							img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvOTc4NTUwMDZjYzA1MDQ1OGVkMDFmZjE2N2I4YjNkOTctNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
							title: '白毫银针',
							prize: '¥258.0'
						},
						{
							img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMDMzMjg2Zjc0ZWU4M2ZiM2U5MTllZTgwMDc4MjRjNTAtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
							title: '云南普洱茶',
							prize: '¥500.0'
						},
						{
							img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMjY1ZjU4NWU5ZmNmYjkxMDBlMzc1YmFkMDQyNTkwMzEtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
							title: '湖北老青茶',
							prize: '¥400.0'
						},
						{
							img: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMjhlYTFmMDQ0Y2NhOWI4NWEzYWZkMzExYzczZTY3MjQtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
							title: '霍山黄芽蒙洱银针',
							prize: '¥711.0'
						},
					]
				}
			},

		})
		var router = new VueRouter({
			routes: [{
					path: '/',
					component: {
						template: '#no1',

					}
				},
				{
					path: '/no2',
					component: {
						template: '#no2',
						data() {
							return {
								arr: [{
										b_num: 138,
										title: '历史悠久'
									},
									{
										b_num: 423,
										title: '冲泡温度'
									},
									{
										b_num: 89,
										title: '碧螺春等级'
									},
									{
										b_num: 567,
										title: '茶园面积'
									},
								],
								
							}
						}
					}
				},
				{
					path: '/no3',
					component: {
						template: '#no3',
						data(){
							return{
								index: 0,
								arr1: '',
								arr: [{
								    title: '全部',
								    content: [{
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvODMxNGZmNmYyYjkyNzcxZmY2N2U5NjdlZjQyNjAzZWItNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '茉莉花茶',
								            _price: '￥223.0'
								        },
								        {
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMGFkMzdiZDQwOGNjYWMwYzI0Y2JmNzdiMDZiNDg4ODAtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '白牡丹',
								            _price: '￥1235.0'
								        },
								        {
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvOTc4NTUwMDZjYzA1MDQ1OGVkMDFmZjE2N2I4YjNkOTctNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '白毫银针',
								            _price: '￥223.0'
								        },
								        {
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMDMzMjg2Zjc0ZWU4M2ZiM2U5MTllZTgwMDc4MjRjNTAtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '云南普洱茶',
								            _price: '￥1235.0'
								        },
								        {
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMjY1ZjU4NWU5ZmNmYjkxMDBlMzc1YmFkMDQyNTkwMzEtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '湖北老青茶',
								            _price: '￥400.0'
								        },
								        {
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMjhlYTFmMDQ0Y2NhOWI4NWEzYWZkMzExYzczZTY3MjQtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '霍山黄芽蒙洱银针',
								            _price: '￥711.0'
								        },
								        {
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNWM4NmNiNjkzOTdjOTM4NWQ4MzI0MDdlZDhhY2EwMmUtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '蒙顶黄芽',
								            _price: '￥450.0'
								        },
								        {
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNWNjYjNmZjU3YWU2YjBmMmRiYWZmOTk2MzljY2E4N2MtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '冻顶乌龙茶',
								            _price: '￥620.0'
								        },
								        {
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNDM1OTBkNjFjM2ViOGU2YzUyYWU3ZmM2N2I3YjQwZGMtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '大红袍',
								            _price: '￥3480.0'
								        },
								        {
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvYzNjYmVkZWE4N2JmNzZjOTUyODdjZWUyYWQ4MjgyM2MtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '祁门红茶',
								            _price: '￥568.0'
								        },
								        {
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMjc0Y2E2YTE1Nzc3Mjk4MTFhMDJiOTg0Y2ZlMzliY2MtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '正山小种',
								            _price: '￥952.0'
								        },
								        {
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvYTY5N2NjZmUxNzIwNTg1YjcwM2E2OTk2ZWY3N2U4NmEtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '西湖龙井特级',
								            _price: '￥888.0'
								        },
								        {
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvYWNkYWZkYWVmNGVlM2NiNmJlYTFjNWI5MWE2MzQwOGMtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '洞庭碧螺春',
								            _price: '￥880.0'
								        },
								    ]
								}, {
								    title: '绿茶',
								    content: [{
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvYTY5N2NjZmUxNzIwNTg1YjcwM2E2OTk2ZWY3N2U4NmEtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '西湖龙井特级',
								            _price: '￥888.0'
								        },
								        {
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvYWNkYWZkYWVmNGVlM2NiNmJlYTFjNWI5MWE2MzQwOGMtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '洞庭碧螺春',
								            _price: '￥880.0'
								        },
								    ]
								}, {
								    title: '黄茶',
								    content: [{
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMjhlYTFmMDQ0Y2NhOWI4NWEzYWZkMzExYzczZTY3MjQtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '霍山黄芽蒙洱银针',
								            _price: '￥711.0'
								        },
								        {
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNWM4NmNiNjkzOTdjOTM4NWQ4MzI0MDdlZDhhY2EwMmUtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '蒙顶黄芽',
								            _price: '￥450.0'
								        },
								    ]
								}, {
								    title: '乌龙茶',
								    content: [{
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNWNjYjNmZjU3YWU2YjBmMmRiYWZmOTk2MzljY2E4N2MtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '冻顶乌龙茶',
								            _price: '￥620.0'
								        },
								        {
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNDM1OTBkNjFjM2ViOGU2YzUyYWU3ZmM2N2I3YjQwZGMtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '大红袍',
								            _price: '￥3480.0'
								        },
								    ]
								}, {
								    title: '红茶',
								    content: [{
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvYzNjYmVkZWE4N2JmNzZjOTUyODdjZWUyYWQ4MjgyM2MtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '祁门红茶',
								            _price: '￥568.0'
								        },
								        {
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMjc0Y2E2YTE1Nzc3Mjk4MTFhMDJiOTg0Y2ZlMzliY2MtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '正山小种',
								            _price: '￥952.0'
								        },
								    ]
								}, {
								    title: '黑茶',
								    content: [{
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMDMzMjg2Zjc0ZWU4M2ZiM2U5MTllZTgwMDc4MjRjNTAtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '云南普洱茶',
								            _price: '￥1235.0'
								        },
								        {
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMjY1ZjU4NWU5ZmNmYjkxMDBlMzc1YmFkMDQyNTkwMzEtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '湖北老青茶',
								            _price: '￥400.0'
								        },
								    ]
								}, {
								    title: '白茶',
								    content: [{
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMGFkMzdiZDQwOGNjYWMwYzI0Y2JmNzdiMDZiNDg4ODAtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '白牡丹',
								            _price: '￥1235.0'
								        },
								        {
								            url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvOTc4NTUwMDZjYzA1MDQ1OGVkMDFmZjE2N2I4YjNkOTctNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								            _title: '白毫银针',
								            _price: '￥223.0'
								        },
								    ]
								}, {
								    title: '花茶',
								    content: [{
								        url1: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvODMxNGZmNmYyYjkyNzcxZmY2N2U5NjdlZjQyNjAzZWItNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
								        _title: '茉莉花茶',
								        _price: '￥223.0'
								    }, ]
								}, ]
							}
						}
					}
				},
				{
					path: '/no4',
					component: {
						template: '#no4',

					}
				},
				{
					path: '/no5',
					component: {
						template: '#no5',

					},
					children: [{
							path: '/',
							component: {
								template: '#no7'
							}
						},
						{
							path: 'no2',
							component: {
								template: '#no8'
							}
						},
						{
							path: 'no3',
							component: {
								template: '#no9'
							}
						},
					]
				},
				{
					path: '/no6',
					component: {
						template: '#no6',

					}
				},

			]
		})
		new Vue({
			el: '#box',
			data: {
				
			},
			mounted() {
			                        var map = new BMap.Map("allmap");
			                        // var point = new BMap.Point(116.331398, 39.897445);北京的经纬度
			                        map.addControl(new BMap.NavigationControl());
			                        map.addControl(new BMap.ScaleControl());
			                        map.addControl(new BMap.OverviewMapControl());
			                        map.addControl(new BMap.MapTypeControl());
			                        map.centerAndZoom('苏州市外河桥', 11);
			                    },
			router
		})
	</script>
</html>
